.user-table {
    width: 45%;
    border-radius: 7px;
    display: flex;
    flex-grow: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 25px;
    border-radius: 7px;
}
    
.p-datatable-wrapper {
    width: 100%;
    border-radius: 7px;
}

th {
    min-width: 120px;
}

th:first-child {
    border-top-right-radius: 7px;
}

th:last-child {
    border-top-left-radius: 7px;
}

td {
    text-align: start;
}